html {
height: 100%;
 height: 100%;
    width: 100%;
    background: black;
    overflow: hidden;
    background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://cdn.britannica.com/51/190751-050-147B93F7/soccer-ball-goal.jpg");
    background-size: cover;


}

.p1 {
display: inline;
text-size:40px;
}

.d1 {
  border: 5px outset #bde0fe;
  background-color: #22223b;    
  text-align: center;
}


.d2 {
  text-align: center;
  height: 100px;
  
}

.d3 {
  max-width: 350px;
  text-align: center;
  padding: 30px 30px 12px 30px;
  color: #fff;
  background-color: #996fb3;
  border: 4px solid #9387f2;
  border-radius: 5px;
 
  /*outline: dashed 1px black;*/
  /* Center horizontally*/
  margin: 0 auto;
  display: flex;


}

.d3 .center {
  width: 100%;
  height: 100%;
  /* Center horizontally*/
  margin: 0 auto;
  opacity: 0.7;
  text-align: center;

}

.d4 {
  width: 400px;
  text-align: center;
  color: #fff;
  background-color: #694a8d;
  border: 4px solid #9387f2;
  border-radius: 5px;
  font:normal 25px/22px Courier New;
  /*outline: dashed 1px black;*/
  /* Center horizontally*/
  margin: 0 auto;

}
.d5 {
   text-align: center;

  font-family: arial;
  font-size: 24px;
  width: 350px;
  height: 100px;
  /*outline: dashed 1px black;*/
  /* Center horizontally*/
  margin: 0 auto;

}

.column1 {
    width: 50%;
    float: left;
    background-color: #5e4fa2;
    height: 70px;
    border-radius:5px;
    border: 3px solid #9387f2;

    

}

.column2 {
    width: 49%;
    float: left;
    background-color: #5e4fa2;
    height: 70px;
    border: 3px solid #9387f2;


}

.select {
    cursor:pointer;
    background-color: #5e4fa2;
    border: 3px solid #bdb8d6;
    font:normal 25px/22px Courier New;
    color:white;
    margin: 20px;

}

select > option {
   background: #c0b6d0;
       margin: 0 auto;

}
.button {
  background-color: #5e4fa2;
  border: 3px solid #bdb8d6;
  font-family: 'Courier New';
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
  background-color: #5e4fa2;
  border: 3px solid #bdb8d6;
  font-family: 'Courier New';
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

h1 {
  color:  #ffffff;
  font:normal 25px/22px Courier New;

}
